.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        width: 90%;
        display: block;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        transition: all .2s;


        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
    
        }
        
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }




    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .2s;

    }

    //+ is the adjacent sibling selector
    //- is the general sibling elector
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
    }

    &__radio-group { //we could also use float: left;
        width: 40%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 3.7rem;
    }

    //creating the custom radio button
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.5rem;

        &::after {
            content: "";
            display: block;
            background-color: $color-primary;
            height: 1.33rem;
            width: 1.33rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;//initial
            transition: opacity .2s;
        }
    }

    //when we select the radio button, checked class is applied
    //so, when checked class is applied, select the direct sibling of it,then select its child, and from there, select the ::after element
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
}  